header {
  background-color: pink;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
}

// If logo image exists
// .logo {
//   text-align: center;
//   height: 60px;
//   padding-top: 40px;
//   padding-bottom: 20px;
// }

.logotext {
  height: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: gray;
  font-size: 300%;
  text-align: center;
  letter-spacing: 4px;
}

.search {
  height: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  &-box {
    width: 95%;
    height: 75px;
    border-radius: 10px;
    font-size: 29pt;
    text-indent: 70px;
    &-icon {
      position: absolute;
      top: 37px;
      left: 35px;
      color: gray;
    }
  }
}
