@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arimo");
reset.scsshtml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 12pt; }

body {
  margin: 0;
  padding: 0;
  text-indent: 0; }

a {
  text-decoration: none;
  color: #000; }

body {
  width: 100%;
  font-size: 14pt;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #f0f0f0; }

main {
  width: 100%;
  padding: 30px 25px;
  margin-top: 230px;
  margin-bottom: 135px; }

.main-producdetail {
  position: relative; }

header {
  background-color: pink;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3); }

.logotext {
  height: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
  color: gray;
  font-size: 300%;
  text-align: center;
  letter-spacing: 4px; }

.search {
  height: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative; }
  .search-box {
    width: 95%;
    height: 75px;
    border-radius: 10px;
    font-size: 29pt;
    text-indent: 70px; }
    .search-box-icon {
      position: absolute;
      top: 37px;
      left: 35px;
      color: gray; }

footer {
  padding: 30px 50px;
  height: 80px;
  position: fixed;
  bottom: 0px;
  width: 90%;
  background-color: #fff; }

.footer-item {
  width: 33.3333%;
  float: left; }
  .footer-item-text {
    display: block;
    font-size: 200%;
    transform: rotate(45deg); }

.card {
  background-color: #fff;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px; }
  .card:last-child {
    margin-bottom: 0; }
  .card-shop-productlist {
    text-align: left;
    border: solid #939396;
    margin-top: -23px;
    margin-left: -23px;
    margin-right: -23px; }
  .card-img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px; }
    .card-img-productlist {
      height: 300px;
      position: relative;
      margin-top: -20px; }
    .card-img-productdetail {
      height: 500px;
      margin-top: 20px;
      margin-bottom: 20px; }
    .card-img-shop-productlist {
      height: 300px;
      width: 300px;
      margin-left: 0px;
      margin-right: 0px;
      display: inline-block;
      verticla-align: top; }
  .card-info {
    display: inline-block;
    width: calc( 99% - 300px);
    text-align: left;
    font-size: 180%;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    vertical-align: top; }
  .card-title {
    font-size: 200%;
    padding-top: 20px;
    padding-bottom: 20px; }
    .card-title-productdetail {
      font-weight: 700; }
  .card-description {
    font-size: 120%; }
  .card-popup {
    padding: 20px;
    font-size: 150%; }
    .card-popup-productlist {
      position: absolute;
      bottom: 20px;
      right: 30px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.35); }
    .card-popup-productdetail {
      display: inline-block;
      font-size: 200%;
      width: 44%; }
      .card-popup-productdetail-left {
        text-align: left; }
      .card-popup-productdetail-right {
        text-align: right; }

body {
  font-family: 'Sawarabi Gothic', 'Arimo', sans-serif; }

body {
  margin: 0px;
  /* ページ全体のmargin */
  padding: 0px;
  /* ページ全体のpadding */
  text-align: center;
  /* 下記のautoに未対応用のセンタリング */ }

#form {
  width: 800px;
  padding: 20px;
  margin-left: auto;
  /* 左側マージンを自動的に空ける */
  margin-right: auto;
  /* 右側マージンを自動的に空ける */
  text-align: left;
  /* 中身を左側表示に戻す */ }

.login-title {
  margin: 0 auto;
  color: gray;
  font-weight: bold;
  font-size: 200%; }

.user_cd {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px; }

input[type="email"] {
  margin: 0 auto;
  width: 800px;
  font-size: 200%; }

.password-title {
  margin: 0 auto;
  color: gray;
  font-weight: bold;
  font-size: 200%; }

.password {
  margin: 0 auto;
  margin-bottom: 20px; }

input[type="password"] {
  margin: 0 auto;
  width: 800px;
  font-size: 200%; }

.check {
  padding: 60px;
  color: gray;
  font-weight: bold;
  font-size: 100%;
  text-align: center; }

.button_wrapper {
  text-align: center; }

.submit input {
  font-family: Arial;
  width: 200px;
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px 0 10px;
  color: #fff;
  /* フォント色ホワイト */
  background-color: #ff6347;
  /* ボタンの色トマト */
  border-radius: 5px;
  /* 枠線の角丸 */ }

.or_comment {
  padding: 20px;
  margin: 0 auto;
  color: gray;
  font-weight: bold;
  font-size: 100%;
  text-align: center; }

.button_wrapper2 {
  text-align: center; }

.create_user_cd input {
  font-family: Arial;
  width: 200px;
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 8px 0 10px;
  color: #fff;
  /* フォント色ホワイト */
  background-color: #ff6347;
  /* ボタンの色トマト */
  border-radius: 5px;
  /* 枠線の角丸 */ }

.btn-circle {
  height: 150px;
  width: 150px;
  border-radius: 75px; }
  .btn-circle-text {
    font-size: 300%;
    color: #fff; }
  .btn-circle-buy {
    background-color: #4B9648;
    position: fixed;
    right: 51px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border: solid #4B9648;
    bottom: 185px; }
